<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title></title>
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand" href="{% url 'index' %}">DJANGO</a></li>
                {% if user.is_authenticated %}
                    <li><a class="navbar-link" href="{% url 'project_app:uploads' %}">Cargar archivo</a></li>
                    <li><a class="navbar-link" href="{% url 'logout' %}">Logout</a></li>
                    {% if user.is_superuser %}
                        <li><a class="navbar-link" href="{% url 'admin:index' %}">ADMIN</a></li>
                    {% endif %}
                {% else %}
                    <li><a class="navbar-link" href="{% url 'project_app:register' %}">Registro</a></li>
                    <li><a class="navbar-link" href="{% url 'project_app:user_login' %}">identificarse</a></li>
                {% endif %}

            </ul>
        </div>
    </nav>
    <div class="container">
        {% block body_block %}

        {% endblock %}


    </div>

</body>
</html>