{% extends "project_app/base.html" %}
{% load staticfiles %}

{% block body_block %}

    <div class="jumbotron">
    {% if registered %}
        <h1>Gracias por registrarse</h1>
    {% else %}
        <h1>Registrese aqui</h1>
        <h3>rellene el siguiente formulario</h3>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
            <input type="submit" value="Registrarse">
        </form>
    
    {% endif %}


    </div>

{% endblock %}